.slider-prev, .slider-next {
    width: 39px;
    height: 39px;
    background: white;
    border-radius: 50%;
    border: 1px solid #076BFF;
}

.slider-prev {
    position: absolute;
    top: 50%;
    left: 25px;
    z-index: 1;
    line-height: 0;
    transform: translateY(-50%);
}

.slider-next {
    position: absolute;
    top: 50%;
    right: 25px;
    z-index: 2;
    line-height: 0;
    transform: translateY(-50%);
}

.slider-prev svg {
    position: absolute;
    right: 9px;
    top: 8px;
}

.slider-next svg {
    position: absolute;
    right: 6px;
    top: 8px;
}

.action::after {
    content: '';
    position: absolute;
    right: 15px;
    width: 20px;
    height: 20px;
    background-image: url("../images/action.png");
    transition: 0.3s all ease;
}

.ui-state-active.action::after {
    transform: rotate(90deg);
}

.thanks-for-order {
    position: absolute;
    top: 2300px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 150px;
    background: #2f12f6;
    border-radius: 10px;
    padding: 40px;
    text-align: center;
    z-index: 10;
    color: #FFFFFF;
    font-size: 16px;
}


